body { background: url("../images/franjas2_1164X417.png") repeat fixed 100% 100% #004a93; }
.contentError {
	margin: 0 auto; width: 662px;
   	background-color: #FFFFFF;
   	height: 130px; border-radius: 10px; padding: 10px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 8px 8px 6px 4px #0079c1;
	-webkit-box-shadow: 8px 8px 6px 4px #0079c1;
	box-shadow: 8px 8px 6px 4px #0079c1;
}
.logo { background: url(../images/logo2_97X131.png) no-repeat; float: left; height: 130px; margin-left: 8px; width: 97px; }
.texto { color: #00559d; font-family: Arial; font-size: 17px; font-weight: bold; text-align: center; }
.ui-widget-content { border: none; }
.ui-widget-overlay { display: none; }