 @CHARSET "ISO-8859-1";
@import url("normalizeAllBROWSERS.css");

body { margin: 0; }
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
a#pull { display: none; }

@media only screen and (max-width : 1220px) {
	#menu { display: none; margin-top: 32px; }
	#glv a#pull { float: left; background-color: #00559d; border-radius: 5px; display: block; height: 32px; width: 32px; margin-left: 6px; }
	a#pull:after { background: url('../images/nav-icon.png') no-repeat; content: ""; display: inline-block; height: 32px; margin: 6px 0 0 6px; width: 32px; }
	#content{ margin: 0 !important; }
}

@media only screen and (min-width : 1221px) {
	#content{ margin: 0 auto !important; margin-left: auto !important; padding-left: 220px; }
}

@media only screen and (max-width : 662px) {
	.franjasHeader { background: url("../images/franjas1_217X50.png") no-repeat scroll 100% center rgba(0, 0, 0, 0) !important; }
	#header { height: 50px !important; margin-bottom: 8px !important; }
	.logo { background: url("../images/logo1_51X49.png") no-repeat scroll 100% 100% rgba(0, 0, 0, 0) !important; width: 49px !important; }
	.titulo { font-size: 11px !important; left: 51px !important; top: 12px !important; }
	.infoUser label { font-size: 9px !important; }
	.infoUser { right: 120px !important; top: 24px !important; line-height: 10px; }
}

#glv { min-width: 870px; }
#header {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d4d4d4', endColorstr='#FFFFFF');/* IE */
	background-image: -ms-linear-gradient(center top, #d4d4d4 0%, #FFFFFF 100%);/* IE10 Consumer Preview */
	background-image: -moz-linear-gradient(center top, #d4d4d4 0%, #FFFFFF 100%);/* Mozilla Firefox */
	background-image: -o-linear-gradient(center top, #d4d4d4 0%, #FFFFFF 100%);/* Opera */
	background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0, #d4d4d4), color-stop(1, #FFFFFF));/* Webkit (Safari/Chrome 10) */
	background-image: -webkit-linear-gradient(center top, #d4d4d4 0%, #FFFFFF 100%);/* Webkit (Chrome 11+) */
	background-image: linear-gradient(to bottom, #d4d4d4 0%, #FFFFFF 100%);/* W3C Markup, IE10 Release Preview */
	height: 100px; margin-bottom: 15px; position: relative; width: 100%;
}
.franjasHeader { background: url("../images/franjas2_531X102.png") no-repeat; background-position: 100%; height: 100%; position: absolute; top: 0; width: 100%; }
.logo { background: url(../images/logo1_80X100.png) no-repeat; background-position: 100%; height: 100%; width: 80px; }
.titulo { color: #00559d; font-family: Arial; font-size: 19px; font-weight: bold; left: 100px; position: absolute; top: 25px; }
#content { max-width: 1000px; min-width: 662px; margin-left: 220px; }
#menu { float: left; max-width: 210px; position:absolute; width: 100%; margin-left: 6px; z-index: 1000; }
.infoUser { position: absolute; right: 152px; top: 50px; text-align: right; }
.infoUser label { font-family: Arial; font-size: 18px; text-transform: uppercase; color: #000000; }
body.loading { overflow: hidden; }
body.loading .backLoading { display: block; }
body.loading .imgLoading { display: block; }
.backLoading { background-color: #FFFFFF; display: none; position: fixed; z-index: 2003; top: 0; left: 0; height: 100%; width: 100%; opacity: .3; filter: Alpha(Opacity = 30); }
.imgLoading { position: absolute; display: none; background: url(../images/bbva-loader.gif) no-repeat; z-index: 1051; height: 31px; width: 31px; }
.titleCloseSession { color: #094fa4; font-size: 17px; font-weight: bold; margin: 5px 0; }
.msgCloseSession { font-size: 13px; line-height: 18px; margin: 10px 0; }
.closeSession { height: 135px !important; text-align: center; width: 405px !important; z-index: 2002 !important; }
.idleDialogOverlay { background: none repeat scroll 0 0 #000 !important;}
.timerEndSession { font-weight: bold; }
::-ms-clear { display: none; }